* {
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, verdana, tahoma;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 255, 0);
    margin: 0;
    padding-top: 100px;
}

.logo-header img {
    width: 50px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 56px;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
}

.hud {
    display: flex;
    float: right;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: 1s;
    font-weight: bold;
    box-sizing: border-box;
}

.hud .resto a {
    border-radius: 30px;
    padding: 6px;
    text-decoration: none;
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
    
}
.hud .maioria a {
    border-radius: 30px;
    padding: 6px;
    text-decoration: none;
    background-color: rgb(46, 46, 46);
    color: rgb(0, 255, 0);
    
}

.hud .maioria a:hover {
    box-shadow: 0 0 5px rgb(9, 255, 0);
}

.hud .resto a:hover {
    box-shadow: 0 0 5px rgb(9, 255, 0);
}





.Formulário{
    h1{
        margin-bottom: 20px;
    }
}

.contatomain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #163501;
    box-shadow: 0 0 10px rgb(0, 255, 64);
    width: 300px;
}

input, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
     border-radius: 10px;
      font-weight: bold;
      background-color: rgb(187, 236, 195);
}

button {
    background-color: rgb(30, 255, 0);
}



.part1 img {
    align-items: center;
    width: 100%;
}

.sobre{
    background-color: #00ff22;
    text-align: center;
    box-sizing: border-box;
}
   
    
.texto1{
    font-family: serif;
    color: #00ff0d;
    background: #000000;
    box-shadow: 0 0 15px black;
    font-size: 90px;
    width: 100%;
    
    }

.texto2 {
    color: #245206;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.texto3 {
    display: flex;
    justify-content: center;
    color: #163501;
    padding: 10px;
}

.texto4{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 0 100px;
    color: #163501;
    font-weight: bold;
    box-sizing: border-box;
    img{
        width: 33%;
    }
}

.thehatbelow {
    text-align: center;
    width: 100%;
    img{
    width: 100%;
    background-color: rgb(0, 0, 0);
    }
}

.galeria1 {
    text-align: center;
    .galeria11{
        padding: 10px;
        font-size: 60px;
        font-family: serif;

    }
    img {
        margin: 50px;
        width: 25%;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 0 10px rgb(47, 255, 57);
    }
}
.mainhome{ 
    text-align: center;
    background-color: white;
}


.aqq { 
    text-align: center;
    background-color: rgb(0, 0, 0);
}

.homebutton {
    background-color: #00ff00;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 10px;
    box-shadow: 0 0 10px rgb(5, 75, 3);
}
.homebutton:hover {
    background-color: #447a20;
}

footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    img{
        width: 100px;
        padding-top: 10px;
    }
}

footer a {
    text-decoration: none;
    color: rgb(0, 255, 0);
}

.fost{
   display: flex;
   align-items: center;
   justify-content: center;
   color: rgb(0, 255, 0);
   p {
    padding: 10px;
    color: rgb(0, 255, 0);
        a {
        margin: 0 10px;
        }
   }
}



.clearfix{
    clear: both;
}

footer p {
    text-align: center;
}



@media (max-width: 480px) {
    .texto1 {
        font-size: 50px;
    }
    .texto2{
        font-size: 10px;
    }
}